/* CSS file for Color Randomizer */

/* defining properties of the boxes */

html,
body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 0px 0px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  overflow: hidden;
}

div {
  height: 50px;
  padding: 0;
  margin: 0;
  flex: 1 0 50px;
}
